:root{
    --cor-principal: #121212;
    --cor-subprincipal: #202020;
    --cor-bordaprincipal: #3C3B3B;
    --cor-titulo: #FCFCFC;
    --cor-subtexto: #6B6B6B;
    --cor-subtexto2: #B7B7B7;
    --cor-hiperlink: #33289C;
    --cor-textolink: #766FF1;
    --cor-botao: #685ECE;
    --cor-botao2: #242231;
    --cor-botãotexto: #7174EC;
    --cor-botãotexto2: #D9D9D9;
    --cor-botaoborda: #3B366B;
    --cor-status: #173A25;
    --cor-statustexto: #71C968;
    --cor-status2: #462222;
    --cor-statustexto2: #E40F0F;
    --fonte-nunito: 'Nunito', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    border: 0px;    
}
body{
    background-color: #121212;
}
p{
    color: var(--cor-botao);
    font-family: var(--fonte-nunito);    
}

/*FOOTER*/
.footer{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 3px var(--cor-bordaprincipal);
    background-color: var(--cor-principal);
    
}
.homef{
    margin-top: -3px;
    margin: 15px;
}
.homef img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.linkfooter{
    color: var(--cor-botao);
    font-family: var(--fonte-nunito);
}
.linkfooter2{
    text-decoration: none;
    color: var(--cor-botao);
}
/*---------FIM DO FOOTER--------*/