:root{
    --cor-principal: #121212;
    --cor-subprincipal: #202020;
    --cor-bordaprincipal: #3C3B3B;
    --cor-titulo: #FCFCFC;
    --cor-subtexto: #6B6B6B;
    --cor-subtexto2: #B7B7B7;
    --cor-hiperlink: #33289C;
    --cor-textolink: #766FF1;
    --cor-botao: #685ECE;
    --cor-botao2: #242231;
    --cor-botãotexto: #7174EC;
    --cor-botãotexto2: #D9D9D9;
    --cor-botaoborda: #3B366B;
    --cor-status: #173A25;
    --cor-statustexto: #71C968;
    --cor-status2: #462222;
    --cor-statustexto2: #E40F0F;
    --fonte-nunito: 'Nunito', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    border: 0px;    
}
body{
    background-color: #121212;
}

p{
    color: var(--cor-botao);
    font-family: var(--fonte-nunito);    
}

/*INICIO HEADER*/
.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 3px var(--cor-bordaprincipal);
    background-color: var(--cor-principal);
}
/*INICIO LOGO*/
.home{
    margin-top: -3px;
}
.home img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*---FIM LOGO---*/

/*INICIO NAV BAR*/
.head1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-nunito);
    font-weight: 600;
    color: var(--cor-botãotexto2);
    margin-right: 15vw;
    margin-left: 15vw;
}
.linkhead{
    margin: 10px;
}
.linkhead2:hover{
    color: var(--cor-botãotexto);
}
.linkhead2{
    text-decoration: none;
    color: var(--cor-botãotexto2);
}
/*---FIM NAV BAR---*/

/*INICIO DA PAGINA DE LOGIN-1*/
.entrar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    background-color: var(--cor-botao);
    font-family: var(--fonte-nunito);
    color: var(--cor-botãotexto2); 
}
.login-1 a{
    text-decoration: none;
    user-select: none;
}
.botaologin{
    height: 50px;
    width: calc(50% - 10px);
    margin: 5px;
    background-color: var(--cor-principal);
    font-family: var(--fonte-nunito);
    border-radius: 10px;
    color: var(--cor-subtexto2);
}
.menuuser{
    cursor: pointer;
    flex-direction: column;
    position: relative;
    display: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 10px;
    box-sizing: border-box;
    color: var(--cor-botãotexto2);
    font-family: var(--fonte-nunito);
}
.usermenu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.username{
    margin-left: 5px;
}
.menuprabaixo{
    position: absolute;
    z-index: 1;
    border-radius: 15px;
    background-color: var(--cor-principal);
}
.menuprabaixo a{
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0 15px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
    color: var(--cor-botãotexto2);
}
.menuprabaixo a:hover{
    background-color: var(--cor-botao);
}
.menuuser.logado{
    display: inline-block;
}
.login-1.logado{
    display: none;
}
/*---FIM DAS PAGIANA DE LOGIN-1---*/

/*-------FIM HEADER--------*/

@media screen and (max-width: 800px) {
    .head1{
        margin-right: 10vw;
        margin-left: 10vw;
    }

}
