:root{
    --cor-principal: #121212;
    --cor-subprincipal: #202020;
    --cor-bordaprincipal: #3C3B3B;
    --cor-titulo: #FCFCFC;
    --cor-subtexto: #6B6B6B;
    --cor-subtexto2: #B7B7B7;
    --cor-hiperlink: #33289C;
    --cor-textolink: #766FF1;
    --cor-botao: #685ECE;
    --cor-botao2: #242231;
    --cor-botãotexto: #7174EC;
    --cor-botãotexto2: #D9D9D9;
    --cor-botaoborda: #3B366B;
    --cor-status: #173A25;
    --cor-statustexto: #71C968;
    --cor-status2: #462222;
    --cor-statustexto2: #E40F0F;
    --fonte-nunito: 'Nunito', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    border: 0px;    
}
body{
    background-color: #121212;
}

p{
    color: var(--cor-botao);
    font-family: var(--fonte-nunito);    
}
/*Inicio do Menu Toggle*/
.painel{
    font-family: var(--fonte-nunito);
    font-size: 32px;
    width: 50%;
    margin-bottom: 25px;
    border-bottom: 3px solid var(--cor-botao);
    color: var(--cor-botãotexto2);
}
.content p{
    color: var(--cor-botãotexto2);
    font-size: 30px;
    padding-left: 40px;
}
/*-------FIM Menu Toggle--------*/


.busca-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.busca{
    padding: 15px;
    width: 30vw;
    border-radius: 30px;
    margin: 150px 0;
    color: var(--cor-botãotexto2);
    background-color: var(--cor-principal);
}

.busca input{
    font-size: 16px;
    border: none;
    outline: none;
    cursor: text;
    background-color: transparent;
    color: var(--cor-botãotexto2);
}




.main-novels{
    font-size: 24px;
    font-family: var(--fonte-nunito);
    color: var(--cor-titulo);
    border-bottom: 2px solid var(--cor-titulo);
    padding-left: 15px;
    
}
.listadenovels{
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 10px;
    margin-left: 25px;    
}
.novel01{
    width: 230px;
    height: 380px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: end;
    align-items: left;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    background-size: 230px;
    font-family: var(--fonte-nunito);
    color: var(--cor-titulo);
    box-shadow: -0px -100px 50px var(--cor-principal) inset;
}
.novel01:hover{
    opacity: 0.6;
    transition: .5s ease;
}
.novel01-titulo{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px;
    margin-bottom: 5px;
    width: 100%;
}
.novel01-titulo a{
    text-decoration: none;
    color: var(--cor-titulo);
}
.tags{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: 5px;
}
.tag{
    padding: 2px 10px;
    border-radius: 5px;
    background-color: var(--cor-subprincipal);
    border: 1px solid var(--cor-subtexto);
}
.section{
    padding: 10px;
    height: 1500px;
    width: 70vw;
    margin: 0 auto;
    background-color: var(--cor-subprincipal);
}


/*BOTÔES EM GERAL*/
button {
    height: 50px;
    width: calc(50% - 10px); /* Largura dos botões para duas colunas, com espaço entre */
    margin: 5px;
    background-color: var(--cor-principal);
    font-family: var(--fonte-nunito);
    border-radius: 10px;
    color: var(--cor-subtexto2);
}
/*---FIM DO BOTÔES EM GERAL---*/

@media screen and (max-width: 1300px) {
}



